[flake8]
ignore =
    # E203 Whitespace before ':' (E203) - handled by black
    E203,
    # E501	Line too long (82 > 79 characters)
    E501,
    # W503	Line break occurred before a binary operator
    W503
select = E,W,F,C,B,B90,E800,Q,U,A,T,R,SIM,N

max-line-length = 92
max-doc-length = 92
max-complexity = 15
max-cognitive-complexity = 15
per-file-ignores = __init__.py: F401

# flake8-quotes
inline-quotes = double

# flake8-unused-arguments
unused-arguments-ignore-abstract-functions = True
unused-arguments-ignore-stub-functions = True
unused-arguments-ignore-variadic-names = True
